@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@inject IHttpContextAccessor Accessor
@{
    var jwtHandler = new JwtSecurityTokenHandler();
    string role = "nothing";
    if (Accessor.HttpContext.Session.GetString("Token") != null)
    {
        var tokenContent = jwtHandler.ReadToken(Accessor.HttpContext.Session.GetString("Token")) as JwtSecurityToken;
        role = tokenContent.Claims.First(claim => claim.Type == ClaimTypes.Role).Value;
    }
}

@{
    ViewData["Title"] = "Home Page";
}

@if (role == "nothing")
{
    <div class="text-center">
        <h1 class="display-4">Hello friends!</h1><br /><br /><br />
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="LogInPerson" asp-action="LogIn">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="AddPerson" asp-action="Add">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
}
else if(role == "user")
{
    <h1>User Page with information</h1>
}
else if (role == "admin")
{
    <h1>You`re admin!)</h1>
}

