@model People
@{
    ViewData["Title"] = "Add person";
}

<div class="form">
    <form  asp-controller="Add" asp-action="Post" method="post">
        <div>
            <label for="FirstName">First name:</label><br />
            <input type="text" id="FirstName" name="FirstName" asp-for="FirstName"><br />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label for="LastName">Last name:</label><br />
            <input type="text" id="LastName" name="LastName" asp-for="LastName"><br />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <label for="Email">Email:</label><br />
            <input type="email" id="Email" name="Email" placeholder="name@example.com" asp-for="Email"><br />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label for="Password">Password:</label><br />
            <input type="password" id="Password" name="Password" asp-for="Password"><br />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label for="Sex">Select your sex:</label><br />
            <select asp-for="Sex" id="Sex" name="Sex">
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select>
        </div>
        <div>
            <label for="Birthday">Birthday:</label><br />
            <input type="date" id="Birthday" name="Birthday" asp-for="Birthday"><br />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
        <div>
            <label for="AboutMe">About me:</label><br />
            <input type="text" id="AboutMe" name="AboutMe" asp-for="AboutMe"><br />
            <span asp-validation-for="AboutMe" class="text-danger"></span>
        </div>
        <input type="hidden" name="PairFirstPeople" asp-for="PairFirstPeople" value="null"><br />
        <input type="hidden" name="PairSecondPeople" asp-for="PairSecondPeople" value="null"><br />

        <input type="submit" value="Submit" />
    </form>
</div>