
@{
    ViewData["Title"] = "Generite pairs";
}

<div class="form">
    <form asp-controller="Generite" asp-action="Post" method="post">
        <input type="submit" value="Generite" />
    </form>
</div>