@model People
@{
    ViewData["Title"] = "Edit person";
}

<div class="form">
    <form>
        <div>
            <label for="FirstName">First name:</label><br />
            <input type="text" id="FirstName" name="FirstName" asp-for="FirstName"><br />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label for="LastName">Last name:</label><br />
            <input type="text" id="LastName" name="LastName" asp-for="LastName"><br />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <label for="Email">Email:</label><br />
            <input type="email" id="Email" name="Email" placeholder="name@example.com" asp-for="Email"><br />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label for="Password">Password:</label><br />
            <input type="password" id="Password" name="Password" asp-for="Password"><br />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label for="Sex">Select your sex:</label><br />
            <input type="radio" id="male" name="sex_male" value="1" asp-for="Sex">
            <label for="male">Male</label><br />
            <input type="radio" id="female" name="sex_female" value="0" asp-for="Sex">
            <label for="female">Female</label><br>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
        <div>
            <label for="Birthday">Birthday:</label><br />
            <input type="date" id="Birthday" name="Birthday" asp-for="Birthday"><br />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>
        <div>
            <label for="AboutMe">About me:</label><br />
            <input type="text" id="AboutMe" name="AboutMe" asp-for="AboutMe"><br />
            <span asp-validation-for="AboutMe" class="text-danger"></span>
        </div>
        <input type="hidden" id="Age" name="Age" asp-for="Age" value="0"><br />
        <input type="hidden" id="Likes" name="Likes" asp-for="Likes" value="0"><br />
        <input type="hidden" id="Dislikes" name="Dislikes" asp-for="Dislikes" value="0"><br />
        <span asp-validation-for="Dislikes" class="text-danger"></span>
        <input type="hidden" name="PairFirstPeople" asp-for="PairFirstPeople" value="null"><br />
        <input type="hidden" name="PairSecondPeople" asp-for="PairSecondPeople" value="null"><br />



        <input type="submit" value="Submit" asp-controller="Edit" asp-action="Put" />
    </form>
</div>